fastapi==0.101.1        # FastAPI framework
uvicorn==0.23.2         # ASGI server to run FastAPI
sqlalchemy==2.0.20      # ORM for database models
pydantic==2.6.2         # Data validation / schemas
python-dotenv==1.0.1    # Optional, for environment variables
pydantic_settings
psycopg2-binary
python-jose[cryptography]
passlib[bcrypt]
python-multipart
alembic
pydantic[email]
bcrypt==4.0.1